<html>
    <head>
        <title>Email Рассылка</title>
        <meta charset="utf-8" />
        <link href="{{host}}/css/style.css" rel="stylesheet" media="all">
        <link href="{{host}}/lib/bootstrap.min.css" rel="stylesheet">

        <style>
        </style>
    </head>
    <body>
        <div class="navbar-inverse">
            <div class="container">
            <div class="col-md-3 col-sm-0"></div>
            	<div class="col-md-6 col-sm-12">
	                <ul class="nav navbar-nav">
	                  <li><a href="/">Рассылка</a></li>
	                  <li class="active"><a href="/emails">База адресов</a></li>
	                  <li><a href="/logout">Выход</a></li>
	                </ul> 
	            </div>
	            <div class="col-md-3 col-sm-0"></div>    
            </div>    
        </div>
        <div class="container">
            <div class="row">
            <div class="col-md-3 col-sm-0"></div>
                <div class="col-md-6 col-sm-12">
                    <h1>Все файлы с адресами удалены</h1>  
                    <a href="/emails">Загрузить файлы с адресами</a><br>
                    
                </div>
                <div class="col-md-3 col-sm-0"></div>
                </div>
                <div class="row">
                <div class="col-md-3 col-sm-0"></div>
                <div class="col-md-6 col-sm-12">
                	<div class="templatePreview"></div>
                </div>
                <div class="col-md-3 col-sm-0"></div>
            </div>
            
                
            
        </div>
        <footer>
            <script src="{{host}}/lib/jquery.min.js"></script>
            <script src="{{host}}/js/front.js"></script>
            <script src="{{host}}/lib/bootstrap.min.js"></script>
        </footer>
    </body>
</html>

