<html>
    <head>
        <title>Email Рассылка</title>
        <meta charset="utf-8" />
        <link href="{{host}}/templates/views/css/style.css" rel="stylesheet" media="all">
        <link href="{{host}}/templates/views/lib/bootstrap.min.css" rel="stylesheet">

        <style>
        </style>
    </head>
    <body>
        <div class="navbar-inverse">
            <div class="container">
            <div class="col-md-3 col-sm-0"></div>
                <div class="col-md-6 col-sm-12">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="/">Рассылка</a></li>
                      <li><a href="/emails">База адресов</a></li>
                      <li><a href="/logout">Выход</a></li>
                    </ul> 
                </div>
                <div class="col-md-3 col-sm-0"></div>    
            </div>    
        </div>
        <div class="container">
            <div class="row">
            <div class="col-md-3 col-sm-0"></div>
                <div class="col-md-6 col-sm-12">
                    <h1>Настройка Email Рассылки</h1>
                    <div class="col-md-6 col-sm-12">
                           <p>Шаблон письма:</p>
                           <p><select id="templatesMail">
                                {{#each templatesMail}}
                                    <option value="{{this}}">{{this}}</option>
                                {{/each}}
                           </select></p>
                    </div>       
                    <div class="col-md-6 col-sm-12">
                           <p>Тема письма:</p>
                           <form method="POST" action="{{host}}:{{port}}">
                                <input type="text" id="emailSubject" value="{{subject}}" class="fullWidthInput">
                                <input type="submit" value="Применить тему письма" onClick="changeTemplate(); return false;">  
                           </form>
                    </div>   
                    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
                    <div class="col-md-6 col-sm-12">
                           
                           <form method="POST" action="{{host}}:{{port}}">
                                
                                <input id="btnMailerGoSend" type="submit" value="Начать рассылку" onClick="mailerGoSend('mailerGoSend'); return false;">  
                           </form>
                    </div>
                    <div class="col-md-6 col-sm-12">
                           <p>Адрес Тестовой почты:</p>
                           <form method="POST" action="{{host}}:{{port}}">
                                <input type="text" id="emailTest" value="{{emailTest}}" class="fullWidthInput">
                                <input type="submit" value="Отправить письмо на тестовую почту" onClick="mailerGoSend('mailerGoTest'); return false;">  
                           </form>
                    </div>
                    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
                    <div class="col-md-6 col-sm-12">
                           
                           <div class="status"><h5>Статус рассылки: <br><span class="statusText">{{mailerStatus}}</span></h5></div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                           <p>От кого:</p>
                           <form method="POST" action="{{host}}:{{port}}">
                                <input type="text" id="from" value="{{from}}" class="fullWidthInput">
                                <input type="submit" value='Применить "От кого"' onClick="setFrom(); return false;">  
                           </form>
                    </div>
                    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

                </div>
                    <div class="col-md-3 col-sm-0"></div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-sm-0"></div>
                    <div class="col-md-10 col-sm-12">
                        <div class="templatePreview"></div>
                    </div>
                    <div class="col-md-1 col-sm-0"></div>
                </div>
            
                
            
        </div>
        <footer>
            <script src="{{host}}/templates/views/lib/jquery.min.js"></script>
            <script src="{{host}}/templates/views/js/front.js"></script>
            <script src="{{host}}/templates/views/lib/bootstrap.min.js"></script>
        </footer>
    </body>
</html>

