<html>
    <head>
        <title>Email Рассылка</title>
        <meta charset="utf-8" />
        <link href="{{host}}/templates/views/css/style.css" rel="stylesheet" media="all">
        <link href="{{host}}/templates/views/lib/bootstrap.min.css" rel="stylesheet">

        <style>
        </style>
    </head>
    <body>
        <div class="navbar-inverse">
            <div class="container">
            <div class="col-md-3 col-sm-0"></div>
                <div class="col-md-6 col-sm-12">
                    <ul class="nav navbar-nav">
                      
                    </ul> 
                </div>
                <div class="col-md-3 col-sm-0"></div>    
            </div>    
        </div>
        <div class="container">
            <div class="row">
            <div class="col-md-3 col-sm-0"></div>
                <div class="col-md-6 col-sm-12">
                    <h1>Введите данные для входа:</h1>
                    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
                    <div class="col-md-6 col-sm-12">
                           
                           <form>
                                <input type="text" id="login" class="fullWidthInput">
                                <input type="text" id="pass" class="fullWidthInput">
                                <input id="btnLogin" type="button" value="Войти">  
                           </form>

                           <div id="responce"></div>
                    </div>
                    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

                </div>
                    <div class="col-md-3 col-sm-0"></div>
                </div>
                
        </div>
        <footer>
            <script src="{{host}}/templates/views/lib/jquery.min.js"></script>
            <script src="{{host}}/templates/views/js/front.js"></script>
            <script src="{{host}}/templates/views/lib/js/bootstrap.min.js"></script>
        </footer>
    </body>
</html>

